<p>
  <b>Agency:</b>
  <%= agency %>
</p>

<p>
  <b>Version:</b>
  <%= version %>
</p>

<p>
  <b>Prefix:</b>
  <%= prefix %>
</p>

<p>
  <b>Label:</b>
  <%= label %>
</p>

<p>
  <b>Study:</b>
  <%= study %>
</p>

<div id="code-lists"></div>


<a href="<%= instruments_url %>">Back</a>
