<td><%= agency %></td>
<td><%= version %></td>
<td><%= prefix %></td>
<td><%= label %></td>
<td><%= study %></td>

<td><a href="<%= instrument_url %>">Show</a></td>
<td><a href="<%= edit_instrument_url %>">Edit</a></td>
<td><a href="<%= destroy_instrument_url %>" class="destroy">Destroy</a></td>
